<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
	<title>充值</title>
</head>
<body style="background-color : #fff">
  <img src="/static/img/wechatlogo.jpg" width=15% height=15% style="float:left;margin-left:1%">
  <div style="float:right;margin-top:0px;background-color:#666666;width:65%;height:35px;border: 5px solid #dedede; -moz-border-radius: 15px; -webkit-border-radius: 15px;border-radius:15px;"><a style="float:right;color:#fff;margin-right:8%;margin-top:5px">饭卡充值</a></div>
<div style="background-color:rgb(50,50,50);width:100%;height:3px;clear:both"></div>
<img src="/{{pic}}" width=80% height=80%>
  <h2>长按二维码后确认支付</h2>
  <div style="background-color:#2EFE64"><a>长按图中二维码，微信弹出菜单选项</a></div>
    <div style="background-color:#CC2EFA"><a>点击弹出的“识别图中二维码”后即可支付</a></div>
   <div style="background-color:#FA8258"> <a>识别后请务必再次确认金额</a></div>
   <div style="background-color:#01DFD7">  <a>若长按无反应或识别后无响应，请返回至桌面，重新打开微信</a></div>
</body>
</html>






